body {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}

#board {
    display: flex;
    flex-wrap: wrap;
    width: 450px;
    height: 450px;
    border: 1px solid #000;
  }
  
  .square {
    width: 150px;
    height: 150px;
    border: 1px solid #000;
    box-sizing: border-box;
    font-size: 48px;
    text-align: center;
    line-height: 100px;
  }
